@tailwind base;
@tailwind components;
@tailwind utilities;

@layer table {
    #agenda::after {
        content: "";
        @apply bg-green-400 absolute left-0 right-0 rounded-b-lg block h-5 z-0;
    }

}

@layer gallery {
    .gallery {
        display: grid;
        gap: 0.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 300px);
        grid-template-areas: 
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            "img4 img4 img4 img4";
        
        @media screen and (min-width: 680px) {
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(3, 400px);
            grid-template-areas: 
            "img1 img1 img2 img2"
            "img1 img1 img3 img3"
            "img4 img4 img4 img4";
        }
    }

    .img1 {
        grid-area: img1;
    }

    .img2 {
        grid-area: img2;
    }

    .img3 {
        grid-area: img3;
    }

    .img4 {
        grid-area: img4;
    }

}

@layer socialMediaMenu{
    .social-media-menu {
        position: fixed;
        top: 80px;
        right: 0;
        padding: 0.25rem 1rem 1rem 1rem;
        z-index: 30;
        transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
        @apply flex flex-col justify-around gap-2;

    }

    .active {
        @apply bg-green-300;
    }

    .social-media {
        transform: translateY(-20rem);
        transition: transform 0.5s ease-in-out;
    }
    
}